[submodule "js30-1"]
	path = js30-1
	url = git://github.com/tpkahlon/js30-1.git
[submodule "js30-2"]
	path = js30-2
	url = git://github.com/tpkahlon/js30-2.git
[submodule "js30-3"]
	path = js30-3
	url = git://github.com/tpkahlon/js30-3.git
[submodule "js30-4"]
	path = js30-4
	url = git://github.com/tpkahlon/js30-4.git
[submodule "js30-5"]
	path = js30-5
	url = git://github.com/tpkahlon/js30-5.git
[submodule "js30-6"]
	path = js30-6
	url = git://github.com/tpkahlon/js30-6.git
[submodule "js30-7"]
	path = js30-7
	url = git://github.com/tpkahlon/js30-7.git
[submodule "js30-8"]
	path = js30-8
	url = git://github.com/tpkahlon/js30-8.git
[submodule "js30-9"]
	path = js30-9
	url = git://github.com/tpkahlon/js30-9.git
[submodule "js30-10"]
	path = js30-10
	url = git://github.com/tpkahlon/js30-10.git
[submodule "js30-11"]
	path = js30-11
	url = git://github.com/tpkahlon/js30-11.git
[submodule "js30-12"]
	path = js30-12
	url = git://github.com/tpkahlon/js30-12.git
[submodule "js30-13"]
	path = js30-13
	url = git://github.com/tpkahlon/js30-13.git
