form {
  display: grid;
  align-content: center;
  justify-items: center;
  height: 100vh;
}

h1 {
  text-align: center;
}

p {
  display: inline;
}

input {
  margin: 0.5rem 0.25rem 0.5rem 0;
}

input[type=checkbox]:checked + p {
  text-decoration: line-through;
}
