@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
@import url('https://fonts.googleapis.com/css?family=Livvic&display=swap');

$grey: #ddd;
$white: #fff;
$black: #000;
$silver: #ccc;
$red: rgba(255, 0, 0, 0.5);
$green: rgba(0, 255, 0, 0.5);
$blue: rgba(0, 0, 255, 0.5);
$font: 'Livvic', sans-serif;

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  background: $grey;
}

body {
  font-size: 1rem;
  font-family: $font;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  min-height: 100vh;
  height: 100%;
}

.clock {
  margin: 0 auto;
  padding: 2rem;
  width: 20rem;
  height: 20rem;
  border: 1rem solid $black;
  border-radius: 50%;
  &__face {
    position: relative;
    width: 100%;
    height: 100%;
  }
}

.hand {
  position: absolute;
  z-index: 1;
  top: calc(50% - .25rem);
  width: 50%;
  height: .5rem;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all .4s cubic-bezier(.4, 2.08, .55, .44);
  span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: $white;
    border-radius: 50%;
    box-shadow: 0 0 .5rem 1rem rgba(0, 0, 0, 0.25);
  }
  &--hour {
    background: $red;
    span {
      top: -1.75rem;
      left: -1rem;
      width: 3.75rem;
      height: 3.75rem;
      font-size: 2.25rem;
    }
  }
  &--minute {
    background: $green;
    span {
      top: -1rem;
      left: -1rem;
      width: 2.5rem;
      height: 2.5rem;
      font-size: 1.25rem;
    }
  }
  &--second {
    background: $blue;
    span {
      top: -.75rem;
      left: -1rem;
      width: 2.25rem;
      height: 2.25rem;
      font-size: 1rem;
    }
  }
}

.base {
  position: absolute;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: $silver;
  &__top {
    position: absolute;
    z-index: 2;
    top: calc(50% - .5rem);
    left: calc(50% - .5rem);
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: $black;
  }
}

.text {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 3.5rem;
  font-size: 1rem;
  text-align: center;
}


