*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  overflow: hidden;
}

canvas {
  flex: 1;
  cursor: grab;
}

.grab {
  cursor: grabbing;
}
