@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
}

:root {
  --baseFF: red;
  --blurFF: 0;
  --spacingFF: 5rem;
  --baseGC: green;
  --blurGC: 0;
  --spacingGC: 5rem;
}

.cardFF {
  background: var(--baseFF);
}

.cardGC {
  background: var(--baseGC);
}

.chrome {
  width: var(--spacingFF);
  filter: blur(var(--blurFF));
}

.firefox {
  width: var(--spacingGC);
  filter: blur(var(--blurGC));
}
