@import url('https://fonts.googleapis.com/css?family=Bad+Script|Bowlby+One+SC&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
@import "mixins";

$black: black;
$white: white;
$shadow: rgba(0, 0, 0, .25);
$primaryFont: 'Bad Script', cursive;
$secondaryFont: 'Bowlby One SC', cursive;
$sm: "screen and (min-width: 720px)";

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  padding: 1rem;
  font-family: $secondaryFont;
  display: grid;
  grid-template: auto 1fr / 1fr;
  grid-gap: 1rem;
  min-height: 100vh;
  height: 100%;
}

header {
  display: grid;
  grid-template: auto auto / 1fr;
  justify-items: center;
  align-content: center;
  min-height: 8rem;
  height: 100%;
}

main {
  display: grid;
  grid-template: auto / repeat(3, 1fr);
  grid-gap: 1rem 1rem;
  grid-auto-flow: dense;
  @media #{$sm} {
    grid-template: auto / repeat(4, 1fr);
  }
}

.h1,
a {
  font-family: $primaryFont;
}

.h1 {
  margin: 0 0 1rem;
  padding: 0;
}

a {
  font-size: 1.25rem;
}

button {
  @include resetButton;
  font-size: 2rem;
  border: .1rem solid $black;
  border-radius: .25rem;
  &:hover {
    cursor: pointer;
  }
}

.playing {
  color: $white;
  background: $black;
  box-shadow: 0 0 1rem .25rem $shadow;
  &:hover {
    color: $white;
    background: $black;
  }
}

.hidden {
  display: none;
}

.input {
  @include srOnly;
}
